.recomendations {
  align-items: center;
  display: flex;
  gap: 20px;
  margin: 10px 0;
  overflow-x: scroll;
  padding: 0 20px 10px 10px;
  scroll-behavior: smooth;
}

.visible {
  position: fixed;
  bottom: 0;
}

.hidden {
  visibility: hidden;
}
