.card-container {
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px , rgba(0, 0, 0, 0.24) 0 1px 2px;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.card-container img {
  border-radius: 5px 5px 0 0;
  width: 150px;
}

.name-container {
  align-items: center;
  display: flex;
  font-weight: 600;
  height: 35px;
  max-width: 150px;
  padding: 10px;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
